<body>
    <label>Distância</label><br>
    <input type="text" [(ngModel)]="distancia" id="distancia"><br><br>
    <label>Litros</label><br>
    <input type="text" [(ngModel)]="litros" id="litros"><br><br>  

    <button (click)="calcular()">Calcular</button>

    <p *ngIf="this.resultado >= 13">{{resultado}} km/l - Economico</p>
    <p *ngIf="this.resultado >= 10 && this.resultado < 13">{{resultado}} km/l - Normal</p>
    <p *ngIf="this.resultado < 10 && this.resultado != 0">{{resultado}} km/l - Gastador</p>

</body>